{% extends 'base.twig' %}

{% block navigation %}{% embed 'components/navigation' with { blocks: entry.blocks } %}{% endembed %}{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block footer %}
	{% embed 'blocks/section' with { title: 'Let\'s meet.', type: 'contact', anchorId: 'contact', type: 'contact', subhead: "We're available to meet in Sydney, Melbourne and Adelaide. Call during AEST business hours or send us an email." } %}
		{% block content %}
			<ul class="o-contact-list">
				<li><a href="mailto:hello@anagraph.com">hello@anagraph.com</a></li>
				<li><a href="tel:+61415408558">+61 415 408558</a></li>
				<li><a href="https://www.google.com.au/maps/dir//-35.0090215,138.5710374/@-35.0091489,138.5699055,17z">Tonsley Innovation Precinct<br/>6 MAB Eastern Promenade<br/>Clovelly Park SA 5042</a></li>
			</ul>
		{% endblock %}
	{% endembed %}
{% endblock %}
