// =============================================================================
// Default Variables
// =============================================================================

// $breakpoints: (
//     min: 320px,
//     xs: 340px,
//     sm: 600px,
//     md: 900px,
//     lg: 1300px,
//     xl: 1600px,
//     xxl: 1900px,
//     xxxl: 2200px
// ) !default;

$default-container-padding-left: (
	min: 16px,
	lg: 64px,
    xxxl: 256px
) !default;

// $default-container-padding-right: $default-container-padding-left !default;

$default-horizontal-gutters: (
    min: 32px,
    xxxl: 192px
) !default;

// $default-vertical-gutters: $default-horizontal-gutters !default;

// $default-container-padding-top: 0 !default;
// $default-container-padding-bottom: 0 !default;
// $default-container-margin-top: 0 !default;
// $default-container-margin-bottom: 0 !default;
// $default-column-margin-top: 0 !default;
// $default-column-margin-bottom: 0 !default;

// Whats this do?
$font-sizes: (
	min: 12px,
	xxxl: 22px
) !default;

// Whats this do?
$cap-heights: (
    Formular: 0.75
) !default;

$overlay-columns: 6 !default;

// Whats this do?
$colour-baseline-grid: rgba(#0f0, 0.75) !default;
$colour-column-overlay: rgba(#f00, 0.25) !default;
$colour-columns: rgba(#F90, 0.75) !default;
$colour-blocks: rgba(#f0f, 0.75) !default;
$colour-rows: rgba(#ff0, 0.75) !default;
$colour-grids: rgba(#00f, 0.75) !default;
$colour-nested-grids: rgba(#0FF, 0.75) !default;