@mixin type-a($above: 0, $below: 0) {
	@include media('<sm') {
		@include typeset($font-family: 'Formular', $size: 40, $line-height: 3, $above: $above, $below: $below);
	}

	@include media('>=sm') {
		@include typeset($font-family: 'Formular', $size: 48, $line-height: 3, $above: $above, $below: $below);
	}
}

@mixin type-b($above: 0) {
	@include media('>=lg') {
		@include typeset($font-family: 'Formular', $size: 32, $line-height: 2.5, $above: $above);
	}

	@include media('<lg') {
		@include typeset($font-family: 'Formular', $size: 32, $line-height: 2.5, $above: $above);
	}
}

@mixin type-body($above: 0) {
	@include media('>=md') {
		@include typeset($font-family: 'Formular', $size: 16, $line-height: 1.5, $above: $above);
	}

	@include media('<md') {
		@include typeset($font-family: 'Formular', $size: 20, $line-height: 1.875, $above: $above);
	}
}